<div class="login-container">
    <h2 class="login-header">Sign Up</h2>
    <form class="signup-form">
        <div>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
           <label for="email-signup">email:</label>
           <input type="text" id="email-signup" />
         </div>
        <div>
           <label for="password-signup">password:</label>
           <input type="password" id="password-signup" />
        </div>
        <div>
           <button type="submit">signup</button>
        </div>
    </form>
</div>



{{!-- connect to js to get forms to work --}}
<script src="/javascript/signup.js"></script>