{{!-- post --}}
{{> post-info post}}
{{!-- comment form --}}
{{#if loggedIn}}
<form class="comment-form">
     <p>Comment</p>
     <div>
      <textarea name="comment-body"></textarea>
     </div>
      
     <div>
      <button type="submit">add comment</button>
 </div>
</form>
{{/if}}

{{!-- list of comments --}}
{{> comments post.comments}}

<script src="/javascript/comment.js"></script>